h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2rem;
}
h1 {
  display: flex;
}
h1 span {
  animation: animate 3s linear infinite;
}
h1 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2) {
  animation-delay: 0.25s;
}
h1 span:nth-child(3) {
  animation-delay: 0.5s;
}
h1 span:nth-child(4) {
  animation-delay: 0.75s;
}
h1 span:nth-child(5) {
  animation-delay: 1s;
}
h1 span:nth-child(6) {
  animation-delay: 1.25s;
}
h1 span:nth-child(7) {
  animation-delay: 1.5s;
}
h1 span:nth-child(8) {
  animation-delay: 1.75s;
}
h1 span:nth-child(9) {
  animation-delay: 2s;
}
h1 span:nth-child(10) {
  animation-delay: 2.25s;
}
h1 span:nth-child(11) {
  animation-delay: 2.5s;
}
@keyframes animate {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
  5%,
  95% {
    color: #c2bce2;
    filter: blur(0px);
    text-shadow: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #9f4daa);
  border-radius: 6px;
}


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}